/* ===============================
   Colour Palette:
   ---------------
   Light Cream:	#f2f3ee
   Orange:			#d17f38
   Yellow:			#e8c04f
   Brown:			#4b2707
   =============================== */

/* General */

body {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizelegibility;
}

.container {

}


/* Typography */

h1, h2 {

}

h1 {

}

h1 em {

}

h2 {

}

h3 {

}

p.lead {

}

p {

}

a:link, a:visited {

}

a:hover {

}

hr {

}


/* Header */

header nav {

}

header nav ul {
   text-align: center;
}

header nav ul li {
   display: inline;
}

header nav ul li a {
   color: #d17f38;
   text-decoration:none;
   font-weight: bold;
}

header nav ul li a:hover {
   color: #4b2707;
}

header nav ul li#logo a {
   background: url("../images/logo.png") center;
   color: transparent;
}

header nav ul li#logo a:hover {
   background: url("../image/logo-hover.png") center;
}


/* Hero */

#hero {
   background: #e8c04f;
}

#hero .container {
   text-align: center;
}

#hero .large-ribbon {

}


/* The Whole Story */

#story-excerpt {

}

#best-donut {

}

/* News & Events */

#articles {

}

#feature-image {

}

#news-events article {

}

#news-events article.news {

}

#news-events article.event {

}

#news-events header time {

}

#news-events section.excerpt {

}

#news-events footer {

}


/* Footer */

footer.main {
   background: #4b2707;
}

footer.main a:hover {

}

#uncopyright, #credits {

}

#uncopyright {

}

#credits {

}


/* Force Elements to Self Clear its Children: http://css-tricks.com/snippets/css/clear-fix/ */

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;   
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */





